body{
    margin: 0px auto;
    padding: 0px;
    font-size: 14px;
    font-family: "Arail","Microsoft YaHei","Heiti";
    padding-top:160px;
    display: flex;
    min-height: 83vh;
    flex-direction: column;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: auto;
    display: block;
    border: none;
}



/* 评委部分 */
#JMJudge{
    max-width: 1280px;
    margin:0 auto;
  	width: 90%;
}
#JMJudge hr{
      width: 80%;
    height: 2px;
    background-color: #47a8a9;
    margin-top: 30px;
    border: 0px;
    margin-right: 0px;
}
.JMList2{
    font-size: 0px;
    width: 100%;
    margin: 10px 5% 60px 8%;
}
.JMList2 .JMItem{
    width: 80%;
    margin-top: 30px;
    position: relative;
}
.JMList2 .JMItem .JMThumb{
    width: 15%;
    border: 2px solid #FFFFFF;
}
.JMList2 .JMItem .JMInfo{
    position: absolute;
    left:20%;
    top:0px;
    bottom:0px;
    right: 0px;
    overflow: hidden;
}
.JMList2 .JMItem .JMTitle{
    font-size: 21px;
    color: #47a8a9;
    margin-top: 5px;
}
.JMList2 .JMItem .JMExcerpt{
  width: 90%;
    font-size: 16px;
    font-weight: bold;
    color: #656464;
    margin: -20px 0px;
    line-height:30px;
}
