
.zyTitle{
    color: #47a8a9;
    font-size: 20px;
    margin-top: 20px;
    text-align:center;
}
.zyDate{
    color: #6d6d6d;
    font-size: 14px;
    margin: 20px 0px;
    text-align:center;
}
.zyContent{
	width:80%;
	margin:0 auto;
}

.zyContent img{
	width:100%;
	margin:28px auto;
}
.zyContent p{
    font-size: 15px;
    text-indent: 2em;
    line-height: 1.5em;
}
.zyContent p span{
    line-height: 26px;
    font-size:15px;
}