[ v-cloak]{
	display:none;
}

/* 新闻列表 */
.JMNewsList .JMNewsListUl{
  margin: 5px auto;
}
.JMNewsList .JMNewsListUl .JMNews{
  width: 100%;
  height: 250px;
  margin: 0px auto;
}
.JMNewsList .JMNewsListUl .JMNews img{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 40px 50px 40px 100px;
}
.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox{
    height: 130px;
    display: inline-block;
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    left: 350px;
    right: 30px;
} 
.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox .JMNewsText_date{
	font-size:1vw;
	color:#818181;
  	font-weight: bold;
 	 margin: 5px;
}
.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox .JMNewsText_title{
  color: #47a8a9;
  display: block;
  margin: 5px;
  font-size: 22px;
}
.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox .JMNewsText_content{
  color: #818181;
  display: block;
  margin: 10px 5px;
  font-size: 14px;
}
.JMNewsList .JMNewsListUl .JMNews hr{
  border: 1px solid #47a8a9;
}

@media screen and (max-width: 768px){ /*当屏幕尺寸小于768px时，应用下面的CSS样式*/
 
	.JMNewsList .JMNewsListUl .JMNews{
	  	height: auto;
	}
	.JMNewsList .JMNewsListUl .JMNews img{
	    width: 25%;
	    height: auto;
	    margin: 5% 5% 5% 5%;
	}
	.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox{
	    margin-top: 5%;
	    margin-left: 0;
	    margin-right: 0;
	    left: 35%;
	    right: 5%;
	}
	.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox .JMNewsText_title{
	  font-size: 2vw;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px){  /* 当屏幕尺寸小于992px时，应用下面的CSS样式 */
	.JMNewsList .JMNewsListUl .JMNews{
	  	height: auto;
	}
	.JMNewsList .JMNewsListUl .JMNews img{
	    width: 20%;
	    height: auto;
	    margin: 5% 5% 5% 5%;
	}
	.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox{
	    margin-top: 5%;
	    margin-left: 0;
	    margin-right: 0;
	    left: 30%;
	    right: 5%;
	}
	.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox .JMNewsText_title{
	  font-size: 2vw;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px){  /* 当屏幕尺寸小于1200px时，应用下面的CSS样式 */
	.JMNewsList .JMNewsListUl .JMNews{
	  	height: auto;
	}
	.JMNewsList .JMNewsListUl .JMNews img{
	    width: 18%;
	    height: auto;
	    margin: 3% 5% 3% 5%;
	}
	.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox{
	    margin-top: 5%;
	    margin-left: 0;
	    margin-right: 0;
	    left: 30%;
	    right: 5%;
	}
	.JMNewsList .JMNewsListUl .JMNews .JMNewsTextBox .JMNewsText_title{
	  font-size: 2vw;
	}
}