body{
    margin: 0px auto;
    padding: 0px;
    font-size: 14px;
    font-family: "Arail","Microsoft YaHei","Heiti";
    padding-top:160px;
    display: flex;
    min-height: 83vh;
    flex-direction: column;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: auto;
    display: block;
    border: none;
}


/* 新闻列表 */
.JMNewsList {
  width: 90%;
    max-width: 1280px;  
  margin: 0 auto;
}
.JMNewsList .JMNewsListUl{
  margin: 5px auto;
}
.JMNewsList .JMNewsListUl .JMNews1{
  width: 100%;
  height: 250px;
  margin: 0px auto;
}
.JMNewsList .JMNewsListUl .JMNews1 img{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 44px;
    margin-left: 100px;
}
.JMNewsList .JMNewsListUl .JMNews1 .JMNewsTextBox{
  width: 740px;
  height: 130px;
  display: inline-block;
  position: absolute;
  margin-top: 60px;
  margin-left: 30px;
}
.JMNewsList .JMNewsListUl .JMNews1 .JMNewsTextBox .JMNewsText_date{
	color:#818181;
  	font-weight: bold;
 	 margin: 5px;
}
.JMNewsList .JMNewsListUl .JMNews1 .JMNewsTextBox .JMNewsText_title{
  color: #47a8a9;
  display: block;
  margin: 5px;
  font-size: 22px;
}
.JMNewsList .JMNewsListUl .JMNews1 .JMNewsTextBox .JMNewsText_content{
  color: #818181;
  display: block;
  margin: 10px 5px;
  font-size: 14px;
}
.JMNewsList .JMNewsListUl .JMNews1 hr{
  width: 87%;
  border: 1px solid #47a8a9;
  margin-top: 51px;
}/*********************************鐟曞棗鍟撻崚鍡涖�夐幒褌娆㈤弽宄扮础*******************************/
#kkpager{
	marin:50px auto;
    font-size: 14px;
}
#kkpager>div{
    text-align: center;
}
#kkpager .pageBtnWrap{
    display: inline-block;
    margin: 30px auto;
    float: none;
}
#kkpager span.curr{
    border: none;
    color: #47a8a9;
    background: none;
}
#kkpager a{
    border: none;
    color: #6d6d6d;
}
#kkpager span.disabled{
    border: none;
}
#kkpager a:hover{
    background: none;
    color: #47a8a9;
    border: none;
}
