
.register{
	width:50%;
	margin:50px auto;
    flex: 1 0 auto;
}

.zyActiveCode{
	display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: auto;
    cursor:pointer;
    margin-left:40px;
}