body {
	margin: 0px auto;
	padding: 0px;
	font-size: 14px;
	font-family: "Arail", "Microsoft YaHei", "Heiti";
	padding-top: 95px;
	display: flex;
	min-height: 83vh;
	flex-direction: column;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
}

input:focus {
	outline: none;
}

img {
	width: 100%;
	height: auto;
	display: block;
	border: none;
}

.zyList{
    font-size: 0px;
    padding: 20px 20px 20px 20px;
}
.zyList .zyItem{
    width: 31%;
    margin: 1.1%;
}
.zyList .zyItem .zyThumb{
	    width: 90%;
    margin: 0 auto;
}
.zyList .zyItem .zyTitle{
    margin: 10px 10px;
    font-size: 14px;
    color: #6d6d6d;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.zyList .zyItem .zyDate{
	    margin-left: 20px;
    color: #6d6d6d;
    font-size: 14px;
}
#JMTCenter{
    text-align: center!important;
}
#JMBtn{
	     width: 130px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    background: #47a8a9;
    font-size: 18px;
    text-align: center;
    color: #fff;
    border: none;
}