body{
    margin: 0px auto;
    padding: 0px;
    font-size: 14px;
    font-family: "Arail","Microsoft YaHei","Heiti";
    padding-top:95px;
    display: flex;
    min-height: 83vh;
    flex-direction: column;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
input:focus{
    outline: none;
}
img{
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.JMNewsList{
	width: 90%;
    margin: 0 20px;
}
.JMNewsList .JMNewsListUl{
	margin: 5px auto 20px;
}
.JMNewsList .JMNewsListUl:last-child
{
	margin: 5px auto 100px;
}
.JMNewsList .JMNewsListUl .JMNews1{
	width: 100%;
  	height: auto;
  	margin: 0px auto;
}
.JMNewsList .JMNewsListUl .JMNews1 img{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 20px;
}
.JMNewsList .JMNewsListUl .JMNews1 .JMNewsTextBox{
  width: 58%;
  height: 130px;
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  margin-left: 22px;
}
.JMNewsList .JMNewsListUl .JMNews1 .JMNewsTextBox .JMNewsText_date{
	color:#818181;
  	font-weight: bold;
 	 margin: 5px;
}
.JMNewsList .JMNewsListUl .JMNews1 .JMNewsTextBox .JMNewsText_title{
  color: #47a8a9;
  display: block;
  margin: 5px;
  font-size: 16px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: 2; /** 显示的行数 **/
  overflow: hidden;  /** 隐藏超出的内容 **/
}
.JMNewsList .JMNewsListUl .JMNews1 /* .JMNewsTextBox */ .JMNewsText_content{
  color: #818181;
  display: block;
  margin: 15px 5px;
  font-size: 14px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}
.JMNewsList .JMNewsListUl .JMNews1 hr{
  width: 100%;
  border: 1px solid #47a8a9;
  margin-top: 20px;
}





















